* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    margin-top: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
    overflow: hidden;

}

body {
    background-color: hsl(185, 75%, 39%);
    /* min-width: 340px; */
    height: 100vh;
    overflow: hidden;
    

}

.main {
    width: min(90%, 350px);
    margin: auto;
    margin-top: 15%;
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
    z-index: 10;
    
    /* overflow: hidden; */
    
}
.stats {
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    border-top: .5px solid hsl(227, 10%, 46%);
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}

.social {
    color: hsl(227, 10%, 46%);
    letter-spacing: 2px;
    font-size: 12px;
}

.london {
    color: hsl(227, 10%, 46%);
}

.numbers {
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 7px;
}

.name {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

.name span {
    font-weight: normal;
}

.profile {
    background-color: white;
}

.name-city {
    text-align: center;
    margin-bottom: 30px;
}

.victor-image {
    border-radius: 50%;
    border: 5px white solid;
    margin-top: -50px;
    padding: 0px;
    margin-bottom: 20px;
}

.background-pattern {
    background-image: url("images/bg-pattern-card.svg");
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile {
    border-radius: 15px;
    position: relative;
    z-index: 1000;
    /* box-shadow: 0 8px 8px -4px rgb(87, 85, 85); */
    box-shadow: 0 0 70px 0px rgba(0, 0, 0, 0.3);
}

.top-pattern {
    position: absolute;
    z-index: 15;
    top: -750px;
    right: 100px;
}

.bottom-pattern {
    position: absolute;
    right: -700px;
    top: 250px;

}
